.bottom-nav {
    display: flex;
    padding: 1.2rem 0;
    background: #048B90;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    justify-content: center;

    .appointment {
        width: 45%;
        float: left;
        text-align: center;
    }

    .shop {
        width: 45%;
        float: right;
        text-align: center;

    }

    .divider {
        border-right: 2px solid white;
        width: 5%;
    }
}