@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Medium.ttf");

}

$primary-font: 'Poppins',
sans-serif;
$primary-bg:#FFFEFD;

$subcard-heading-color: #048B90;
$card-bg: #FFF8F2;
$primary-green: #048B90;

$card-dashboard-heading: #F36D21;