.app-green-background {
   background-color: lightgreen;
   min-width: 100%;
   min-height: 100vh;
}


.intro-section {
   background-color: lightgreen;
   min-width: 100%;
   min-height: 100vh;

   padding: 0 0 0 4rem
}

.intro-section p {
   padding: 1rem 0 0 0;
}


.app-center {
   text-align: center;
   /* padding: 0 50vh 0 50vh; */
}

.app-form-card {
   margin: 0 auto 0 auto;
   padding: 4rem 1rem;
   width: 30vw;
}

.app-form-card card {
   padding: 0rem 3rem 0rem 3rem;
}


/* The Home Page Title */
.intro-section h1 {
   padding: 20vh 0 0 0rem;
   text-align:left;
}


/* This is just for presentation purposes */
.intro-section-image {
   width: 100px;
   height: 60vh;

   /* padding: 0 2rem 0 2rem; */
   background-color: pink;
   margin: 20vh 2rem 0 2rem;
}

.app-link {
   color:#28A745;
}
.app-link:hover {
   text-decoration: underline;
   color:#28A745;
}


.app-navbar-element {
   margin: 0.7rem 0.2rem 0.7rem 0.2rem;
   padding: 0.3rem 1rem 0.3rem 1rem;
   color: #28A745
}
.app-navbar-element:hover {
   background-color: white;
}
.app-navbar-link {
   color: #28A745
}
.app-navbar-link:hover {
   text-decoration: none;  
   color: #28A745
}





.form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
 }
 .form-signin .checkbox {
   font-weight: 400;
 }
 .form-signin .form-control {
   position: relative;
   box-sizing: border-box;
   height: auto;
   padding: 10px;
   font-size: 16px;
 }
 .form-signin .form-control:focus {
   z-index: 2;
 }
 .form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }
 .form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }

.app-appointment-card {
   width: 30vw;
   min-height: 20vh; 

   background-color: violet;
   border-radius: 20px;

   display: flex;
   text-align: center;
 }